<div class="row">
  <div class="current-results text-center" style="margin: 0 auto;width: 500px;">
    Current Conditions in <%= @current_conditions.city_state %><br>
    Last Updated at <%= @current_conditions.last_updated %><br>
    Temperature: <%= @current_conditions.temp_f %><br>
  </div>
</div>
